#opartDevisForm textarea{
    height:100px;
}
#opartDevisForm .opartDevisConteneurTextarea {    
    max-width:100%;
}
#opartDevisForm textArea{
    width:100%;
}
#opartDevisForm .opartDevisConteneurTextareaLeft {
    float:left;
}
#opartDevisForm .opartDevisConteneurTextareaRight {
    float:right;
}
#opartDevisForm .opartDevisConteneurQuotationName {
    /*text-align: right;*/
}
#opartDevisForm .opartDevisConteneurQuotationName input{
    width:100%;
}
#opartDevisForm .opartDevisInfos {
    font-style:italic;
    text-align:right;
    padding-bottom:15px;
}
#opartDevisForm .opartDevisConteneurFieldCustomerInformation {
    width:22%;    
    float:left;
    margin:0 4% 0 0;
}
#opartDevisForm .opartDevisConteneurFieldCustomerInformationLast {
    margin:0;
}
#opartDevisForm .opartDevisConteneurFieldCustomerInformation input {
    width:100%;    
}
#opartDevisForm #cart_summary {
    width:100%
}
#opartDevisForm .invoice_address,
#opartDevisForm .delivery_address {
    max-width:100%;
}
#opartDevisForm .opartDevisTextArea {
    /*max-width:90%;*/
}
#opartDevisForm #cart_summary thead th {
    padding: 4px;
}
.OpartMaxWidthDevice {
   width:50px;
   display:block;
   word-wrap: break-word;
}
@media screen and (min-width: 500px)
{
  .OpartMaxWidthDevice {
    width:auto;
 }
}